/* Global */
* 
{
    -moz-box-sizing    : border-box;        /* Firefox */
    -webkit-box-sizing : border-box;        /* Safari */
    box-sizing         : border-box;        /* evite le dépacement */
}  

html 
{   
    font-family : 'Raleway', sans-serif ;       /* police écriture site */
}

.contenaire
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body
{
    margin: 0px;        /* annulation marge extérieur automatique*/
}

.flex
{
    display: -webkit-box;       /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: inline-block;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    /* garantie la mise en page flex sur tout les navigateur */
}

.space-between
{
    justify-content: flex-start;     /* l'espace entre les élèments et égal*/
    padding: 15px;
    margin: 5px;
}

br
{ 
    display: block;
}

a
{
    text-decoration: none;      /* Annulation des décoration de lien */
    color: black;             /* Couleur des lien */
}

img 
{ 
    max-width: 100%;        /* Taille maximum de l'image */
}

.bold, h1, h2, h3, strong
{
font-weight: bold;      /* mise en gras de l'inscription */
}

h3
{
    margin: 0px;
}

div p
{
    margin: 0px;
}

div i
{
    margin: 0px;
}

.padding        /* espacement nom "image" */
{
    padding: 15px;
    justify-content: center;
}

header
{
    margin: 0% 10px;
}

/* Liste */
ul
{
    padding:0px ;       /*marge intérieur des listes */
}

li
{
    list-style-type: none;      /* suppression des puces des listes */
}


/* Image */
.logo
{
    width:100%;
    height:auto;   
}

article
{
    margin: 15px;
    border-radius:15px 15px 15px 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #b9b9b3;
}


.art_hebergement, .art_populaire
{
    margin: 10px 10px 10px 0px;
    padding: 6px;
    border-radius:15px;
    background-color: #ffffff;
}

.art_hebergement
{
    flex: 1;
}   

.imgh       /*image hébergelent à marseille */
{
    object-fit: cover;          /* ajustement image */
    object-position: center;
    height: 150px;
    width: 200%;
    border-radius:15px 15px 0px 0px;
}

.imgp       /* image les plus populaire */
{
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 175px;
    float: left;
    border-radius:15px 0px 0px 15px;
    margin-right: 5px;
    display: flex;
}

img[class*="imga"]
{
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0px 0px;
    width: 200%;
    height: 150px;
    width: 200%;
    margin: 0;
    padding: 0;
}


/* icone */
.lieu
{
    border:solid 1px #F2F2F2;
    border-radius:10px 0px 0px 10px;
    background-color: #F2F2F2;
    color: black;
    padding: 15px 15px 15px 15px;
    margin: 0px;
}

.filtre
{
    color: #0065FC;
    border:solid 2px #DEEBFF;
    border-radius:50px 50px 50px 50px;
    background-color: #DEEBFF;
    margin: 10px 0px;
    padding: 11px 11px 11px 11px;
}

.i
{
    border:solid 1px #F2F2F2;
    background-color: #ffffff;
    margin: 0px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    border-radius:50px 50px 50px 50px;
    color: #0065FC;
    float: left;
    vertical-align: top;
}

.rempli
{
    color: #0065FC;
    background-color: #ffffff;
    border: 0px;
    width: 5px;
    height: 5px;
    margin: 10px;
}

.vide
{
    color: #F2F2F2;
    background-color: #ffffff;
    border: 0px;
    width: 5px;
    height: 5px;
    margin: 10px;
}

.stat
{
    color: black;
    background-color: #F2F2F2;
    border: 0px;
    position: absolute;
    right: 30px;
}

.icone
{
    margin-top: 50px;
}

/* En-tête de la maquette */
.espace
{
    padding: 0px 55px 10px 55px;      /* marge intérieur menu */
    width: 50%;
}

a[class="espace"]
{
    width: 100%;
}

nav ul a 
{
    color: black;             /* couleur du menu */
    border-bottom: 2px solid #F2F2F2;
}

nav ul a:hover
{
    box-shadow: 0px 0px #0065FC inset;      /* ombre de bordure du menu au survol */
    border-bottom: 2px solid #0065FC;
    color: #0065FC;                         /* couleur du menu au survol */
}

section a
{
    width: 100px;
    height: 50px;
}

.menu
{
    display: flex;
}

.hebergement
{
    position: absolute;
    top: 90px;
    left: 0px;
}

.activite
{
    position: absolute;
    top: 90px;
    right: 0px;
}

.inscription
{
    position: absolute;
    top: 30px;
    right: -30px;
}

#inscription
{
    color: #0065FC;       /* couleur de l'inscrption */
    border-bottom: 0px solid #0065FC;
}


/* Barre de recherche */
    input /* barre d'écriture*/
{
    border:solid 2px #F2F2F2;
    border-radius:0px 0px 0px 0px;
    margin: 0px -5px 0px -5px;
    padding: 15px 20px 15px 20px;
}

button /* bouton de recherche */
{
    border:solid 1px #0065FC;
    border-radius: 10px;;
    background-color: #0065FC;
    color : #F2F2F2;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    margin: 0px;
}

.recherche
{
    text-align: center;
}

.recherche-o
{
    display: none;
}

.recherche-m
{
    display: inline;
}

H1
{
margin-top: 19px;
margin-bottom: 5px;
padding-top: 50px;
}

H1+p
{
    margin-top: 5px;
}


/* Filtres */
input[type="checkbox"]
{
    opacity: 0;
}

label /* nom filtre */
{
    border:solid 3px #F2F2F2;
    max-width: 10px;
    max-height: 10px;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    padding: 10px 10px 10px 0px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

label:hover /* nom filtre au survol */
{
    border:solid 3px #F2F2F2;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    background-color: #F2F2F2;
    padding: 10px 10px 10px 0px;
}


/* Information recherche */

.Hebergement_a_marseille
{
    border:solid 4px #ffffff;
    border-radius:0px;
    background-color: #ffffff;
    width: 100%;
    margin: 15px 0px 15px 0px;
    padding: 10px;
}
.les_plus_populaire
{
    border:solid 4px #F2F2F2;
    border-radius:0px;
    background-color: #F2F2F2;
    width: 100%;
    margin: 15px 0px 15px 0px;
    padding: 10px;
}
.info_chambre
{
    width: 100%;
    margin: 0px 5px 5px 5px;
    padding: 1px 1px 1px 1px;
}

.en-tête
{
    color: black;
    background-color: #F2F2F2;
}

.chambre
{
    flex-wrap: wrap;
} 

.plus
{
    padding-top: 25px;
}

.marseille
{
    margin: 5px 10px;
}

/* Pied de page */
footer
{
    border:solid 2px #F2F2F2;
    border-radius:0px 0px 0px 0px;
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
    margin: 5px;
}

footer div
{
    margin-right: 15%;
    display: inline-grid;
}

footer div a
{
    color: black;
}

strong
    {
        font-weight:bold;
    }