/* Global */
    html 
    {   
        /* police */
        font-family : 'Raleway', sans-serif ;
    }

/* En-tête de la maquette */
    .logo /* Logo */
    {
        /* taille */
        width:50%;
        height:auto;
        float: left;       
    }
    
    a /* Menu */
    {
        /* mise en page texte normal */
        text-decoration: none;
        color: black;
        

    }
    
    a:hover /* Menu en survol */
    {
        /* mise en page texte en survol */
        text-decoration: overline;
        color: #0065FC
    }

    #inscription
    {
        /* mis en page inscrption */
        font-weight: bold;
        color: #0065FC;
    }
   
    .menu
    {
        margin-top: 10px;
        display: flex;
            justify-content: space-around;
            flex-direction: column;
    }




/* Titre */




/* Paragraphe */
.accroche
{
    clear: both;
}


/* Barre de recherche */
input
{
    border:solid 1px #F2F2F2;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
}

.fa-map-marker-alt
{
    border:solid 1px #F2F2F2;
border-top-left-radius:50px;
border-top-right-radius:0px;
border-bottom-left-radius:50px;
border-bottom-right-radius:0px;
    background-color: #F2F2F2;
    color: black
}

button
{
    border:solid 1px #0065FC;
border-top-left-radius:0px;
border-top-right-radius:50px;
border-bottom-left-radius:0px;
border-bottom-right-radius:50px;
    background-color: #0065FC;
    color : #F2F2F2
}



/* Filtres */
i
{
    color: #0065FC;
    border:solid 2px #DEEBFF;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
    background-color: #DEEBFF;
}
label
{
    border:solid 2px #F2F2F2;
border-top-left-radius:0px;
border-top-right-radius:50px;
border-bottom-left-radius:0px;
border-bottom-right-radius:50px;
}



/* Information recherche */

/* Photo */
img
{
    /* taille */
    width:12%;
    height:auto;
    border:solid 4px #ffffff;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}

.Hebergement_a_marseille
{
    background-color: #F2F2F2;
    width: 75%;
}
.les_plus_populaire
{
    background-color: #F2F2F2;
    width: 25%;
}
.info_chambre
{
    border:solid 4px #ffffff;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
background-color: #ffffff;
}