/* Global */

    html 
    {   
        /* police */
        font-family : 'Raleway', sans-serif ;
    }


/* En-tête de la maquette */

    .logo /* Logo */
    {
        /* taille */
        width:60%;
        height:auto;
        float: left;       
    }

    a /* Menu */
    {
        /* mise en page texte normal */
        text-decoration: none;
        color: black;
    }
    
    a:hover /* Menu en survol */
    {
        /* mise en page texte en survol */
        text-decoration: overline;
        color: #0065FC;
    }

    #inscription
    {
        /* mis en page inscrption */
        font-weight: bold;
        color: #0065FC;
    }
   
    nav header
    {
        display: flex;
            justify-content: space-around;
    }
    /* Titre */


    /* Paragraphe */
    .accroche
    {
        /* arrêt float */
        clear: both;
    }

    /* Barre de recherche */
        input /* barre d'écriture*/
    {
        border:solid 2px #F2F2F2;
        border-radius:0px 0px 0px 0px;
        margin: 0px -5px 0px -5px;
        padding: 11px 10px 11px 10px;
    }

    .fa-map-marker-alt /* icône */
    {
        border:solid 1px #F2F2F2;
        border-radius:10px 0px 0px 10px;
        background-color: #F2F2F2;
        color: black;
        padding: 10px 10px 13px 10px;
    }

    button /* bouton de recherche */
    {
        border:solid 1px #0065FC;
        border-radius:0px 10px 10px 0px;
        background-color: #0065FC;
        color : #F2F2F2;
        padding: 12px 10px 12px 10px;
    }

    /* Filtres */
    i /* icône */
    {
        color: #0065FC;
        border:solid 2px #DEEBFF;
        border-radius:50px 50px 50px 50px;
        background-color: #DEEBFF;
        margin: 0px 0px 0px 0px;
        padding: 11px 11px 11px 11px;
    }

    input[type="checkbox"]
    {
        opacity: 0;
    }

    label /* nom filtre */
    {
        border:solid 3px #F2F2F2;
        max-width: 10px;
        max-height: 10px;
        border-radius:50px 50px 50px 50px;
        font-weight:bold;
        padding: 10px 10px 10px 0px;
    }

    label:hover /* nom filtre au survol */
    {
        border:solid 3px #F2F2F2;
        border-radius:50px 50px 50px 50px;
        font-weight:bold;
        background-color: #F2F2F2;
        padding: 10px 10px 10px 0px;
    }


    /* Information recherche */
    .fa-info
    {
        border:solid 1px #F2F2F2;
        background-color: #ffffff;
        margin: 10px 10px 10px 10px;
        padding: 10px 15px 10px 15px;
    }

    /* Photo */
    img
    {
        /* taille */
        width:225px;
        height:150px;
        margin: 0px 5px 0px 5px;
        border-radius:15px 15px 0px 0px;
    }

    article
    {
        margin: 10px 10px 10px 10px;
        padding: 1px 1px 1px 1px;
        border:solid 4px #ffffff;
        border-radius:15px 15px 15px 15px;
        background-color: #ffffff;
    }

    .Hebergement_a_marseille
    {
        border:solid 4px #F2F2F2;
        border-radius:15px 15px 15px 15px;
        background-color: #F2F2F2;
        width: 70%;
        margin: 15px 5px 15px 5px;
        padding: 1px;
    }
    .les_plus_populaire
    {
        border:solid 4px #F2F2F2;
        border-radius:15px 15px 15px 15px;
        background-color: #F2F2F2;
        width: 30%;
        margin: 15px 5px 15px 5px;
        padding: 10px;
    }
    .info_chambre
    {
        width: 200px;
        margin: 0px 5px 5px 5px;
        padding: 1px 1px 1px 1px;
    }

    .en-tête
    {
        color: black;
        background-color: #F2F2F2;
        display: flex;
    }

    .chambre
    {
        display: flex;
        flex-wrap: wrap;
    }

    .hebergement
    {
        display: flex;
    }

    .activites
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    #rempli
    {
        color: #0065FC;
        background-color: #ffffff;
        border: 0px;
        width: 5px;
        height: 5px;
    }

    #vide
    {
        color: #F2F2F2;
        background-color: #ffffff;
        border: 0px;
    }

    #stat
    {
        color: black;
        background-color: #F2F2F2;
        border: 0px;
    }

    .populaire
    {
        display: flex;
    }

    .imgp
    {
        float: left;
        width: 150px;
        height: 200px;
        border-radius:15px 0px 0px 15px;
    }

    .a1,.a4
    {
        height: 400px;
    }

    .a2,.a5
    {
        flex-wrap: wrap;
    }
    footer
    {
        display: flex;
        justify-content: space-evenly;
        border:solid 2px #F2F2F2;
        border-radius:0px 0px 0px 0px;
        background-color: #F2F2F2
    }