/* Global */
html 
{   
    /* police */
    font-family : 'Raleway', sans-serif ;
}



/* Logo */
a
{
    /* taille */
    width:12%;
    height:auto 
}



/* Menu */
nav
{
    /* positionnement menu */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    border: 0px;
    padding: 40px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
a 
{
    /* mise en page texte normal */
    text-decoration: none;
    color: black;
}
a:hover
{
    /* mise en page texte en survol */
    text-decoration: overline;
    color: #0065FC
}
#inscription
{
    /* mis en page inscrption */
    font-weight: bold;
    color: #0065FC;
}



/* Titre */




/* Paragraphe */



/* Barre de recherche */
input
{
    border:solid 1px #F2F2F2;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:50px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:50px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:50px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
}

.fa-map-marker-alt
{
    border:solid 1px #F2F2F2;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright:0px;
-moz-border-radius-bottomleft:50px;
-moz-border-radius-bottomright:0px;
-webkit-border-top-left-radius:50px;
-webkit-border-top-right-radius:0px;
-webkit-border-bottom-left-radius:50px;
-webkit-border-bottom-right-radius:0px;
border-top-left-radius:50px;
border-top-right-radius:0px;
border-bottom-left-radius:50px;
border-bottom-right-radius:0px;
    background-color: #F2F2F2;
    color: black
}

button
{
    border:solid 1px #0065FC;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:0px;
border-top-right-radius:50px;
border-bottom-left-radius:0px;
border-bottom-right-radius:50px;
    background-color: #0065FC;
    color : #F2F2F2
}



/* Filtres */
i
{
    color: #0065FC;
    border:solid 2px #DEEBFF;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:50px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:50px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:50px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
    background-color: #DEEBFF;
}
label
{
    border:solid 2px #F2F2F2;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright:50px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:50px;
-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:50px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:50px;
border-top-left-radius:0px;
border-top-right-radius:50px;
border-bottom-left-radius:0px;
border-bottom-right-radius:50px;
}



/* Information recherche */