/* Global */
* 
{
    -moz-box-sizing    : border-box;        /* Firefox */
    -webkit-box-sizing : border-box;        /* Safari */
    box-sizing         : border-box;        /* evite le dépacement */
}


html 
{   
    font-family : 'Raleway', sans-serif ;       /* police écriture site */
}
body
{
    margin: 0px;        /* annulation marge extérieur automatique */
}
/*img 
    { 
       /* max-width: 100%;        /* Taille maximum de l'image
    }*/
a
{
    text-decoration: none;      /* Annulation des décoration de lien */
    color: black;             /* Couleur des lien */
}

/* liste */
ul
{
    padding:0 ;       /*marge intérieur des listes */
}
li
{
    list-style-type: none;      /* suppression des puces des listes */
}






.row
{
    display: -webkit-box;       /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* garantie la mise en page flex sur tout les navigateur */
}


.space-between
{
    justify-content: space-between;     /* l'espace entre les élèments et égal*/
}

h2
{
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;

}
h3
{
    font-weight: bold;
    margin: 0px;
}
strong
{
    font-weight: bold;
}
p
{
    margin: 5px;
}
.info_chambre
{
    padding: 5px;
}










/*Mobile*/
/* header*/
.menu
{
    padding: 15px;
}
.logo
{
    height:50px;      
}

.hebergement
{
    position: absolute;
    top: 90px;
    left: 0px;
}
.activite
{
    position: absolute;
    top: 90px;
    right: 0px;
}
.inscription
{
    position: absolute;
    top: 30px;
    right: -10px;
}

.liste
{
    margin-bottom: 20px;
}
.espace
{
    padding: 30px;      /* marge intérieur menu */
}
nav ul a 
{
    color: black;             /* couleur du menu */
}    
nav ul a:hover
{
    box-shadow: 0px 2px #0065FC inset;      /* ombre de bordure du menu au survol */
    color: #0065FC;                         /* couleur du menu au survol */
}
#inscription
{
    color: #0065FC;       /* couleur de l'inscrption */
    font-weight: bold;
}
i
{
    color: #F2F2F2;
}

h1
{margin-top: 50px;}
/* barre de recherche */
.lieu
{
    color: black;
    border:solid 1px #F2F2F2;
    border-radius:10px 0 0 10px;
    background-color: #F2F2F2;
    padding: 15px 10px 15px 10px;
}
input /* barre d'écriture*/
{
    border:solid 2px #F2F2F2;
    border-radius:0px 0px 0px 0px;
    margin: 0px -5px 0px -5px;
    padding: 15px 10px 15px 10px;

}
button /* bouton de recherche */
{
    border:solid 1px #0065FC;
    border-radius:10px;
    background-color: #0065FC;
    color : #F2F2F2;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    margin: 0px;
}
.texte
{
    display: none;
}
/* filtres */
.titre
{
    font-weight: bold;
}
.filtre
{
    color: #0065FC;
    border:solid 2px #DEEBFF;
    border-radius:50px;
    background-color: #DEEBFF;
    padding: 11px;
    margin-top: 15px;
}
.box-filtre
{
    margin-top: 20px;
    margin-left: 15px;
}
.box-filtre input[type="checkbox"]
{
    display: none;
}
.box-filtre label /* nom filtre */
{
    border:solid 3px #F2F2F2;
    max-width: 10px;
    max-height: 10px;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    padding: 10px 10px 10px 0px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}
.box-filtre label:hover /* nom filtre au survol */
{
    border:solid 3px #F2F2F2;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    background-color: #F2F2F2;
    padding: 10px 10px 10px 0px;
}
/* info réseultat recherche */
.information
{
    margin-top: 25px;
}
.i
{
    color: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    float: left;
    vertical-align: top;
}





/* body */
.logement
{
    flex-direction: row-reverse;
    justify-content: space-between;
}
/*étoile*/
.fa-star
{
    width: 5px;
    height: 5px;
    margin: 5px;
    align-self: flex-end;
}
.rempli
{
    color: #0065FC;
}

/*les plus populaires*/
.les_plus_populaire
    {
        background-color: #F2F2F2;
        width: 100%;
        margin: 15px 0px 15px 0px;
        padding: 10px 20px 10px 20px ;
    }
.stat
{
    color: black;
}
.art_populaire
{
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #B9B9B3;
    width: 95%;
    height: 150px;
    margin-bottom: 15px;
}
.imgp
{
    width: 40%;
    height: 140px;
    margin: 5px;
    border-radius: 15px 0px 0px 15px;
    float: left;
    object-fit: cover;
    object-position: center;
}
/*hébergement a marseille*/
.Hebergement_a_marseille
{
    border-radius:15px 15px 15px 15px;
    width: 100%;
    margin: 15px;
    padding: 10px;
}
.art_hebergement
{
    border-radius: 15px;
    box-shadow: 1px 1px 10px #F2F2F2;
    width: 100%;
    height: 200px;
    margin: 10px;
}
.imgh
{
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.plus
{
    padding: 10px;
    font-weight: bold;
}
/*activités a marseille*/
.marseille
{
    margin: 15px;
}
.art_activite
{
    width: 95%;
    box-shadow: 1px 1px 10px #F2F2F2;
    border-radius: 15px;
    margin: 10px;
}

.art12
{
    margin-top: 10px;
}

.art15
{
    margin-top: 10px;
}

.imga10
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga11
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga12
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga13
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga14
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga15
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}




/* footer */
footer
    {
        border:solid 2px #F2F2F2;
        border-radius:0;
        background-color: #F2F2F2;
        padding: 30px;
        margin-top: 30px;
    }

footer div
{
    margin-right: 50px;
}
.puce
{
    padding: 5px;
}










/* tablette */
@media (min-width: 768px)
{

}










/* ordinateur */
@media (min-width: 992px) 
{
.contenaire
{
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px;
}
/* hearder*/

.menu
{
    padding: 15px;
}
.logo
{
    height:64px;      
}
.espace
{
    padding: 30px;      /* marge intérieur menu */
}
nav ul a 
{
    color: black;             /* couleur du menu */
}    
nav ul a:hover
{
    box-shadow: 0px 2px #0065FC inset;      /* ombre de bordure du menu au survol */
    color: #0065FC;                         /* couleur du menu au survol */
}

.hebergement
{
    position:initial;
}
.activite
{
    position: initial;
}
.inscription
{
    position: initial;
}

#inscription
{
    color: #0065FC;       /* couleur de l'inscrption */
    font-weight: bold;
}
i
{
    color: #F2F2F2;
}
br
{
    display: none;
}

/* barre de recherche */
.lieu
{
    color: black;
    border:solid 1px #F2F2F2;
    border-radius:10px 0 0 10px;
    background-color: #F2F2F2;
    padding: 15px 10px 15px 10px;
}
input /* barre d'écriture*/
{
    border:solid 2px #F2F2F2;
    border-radius:0px 0px 0px 0px;
    margin: 0px -5px 0px -5px;
    padding: 15px 10px 15px 10px;
}
button /* bouton de recherche */
{
    border:solid 1px #0065FC;
    border-radius:0px 10px 10px 0px;
    background-color: #0065FC;
    color : #F2F2F2;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
    margin: 0px;
}
.fa-search
{
    display: none;
}
.texte
{
    display: block;
}
/* filtres */
.filtre
{
    color: #0065FC;
    border:solid 2px #DEEBFF;
    border-radius:50px;
    background-color: #DEEBFF;
    padding: 11px;
}
.box-filtre
{
    margin-top: 20px;
}
.box-filtre input[type="checkbox"]
{
    display: none;
}
.box-filtre label /* nom filtre */
{
    border:solid 3px #F2F2F2;
    max-width: 10px;
    max-height: 10px;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    padding: 10px 10px 10px 0px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}
.box-filtre label:hover /* nom filtre au survol */
{
    border:solid 3px #F2F2F2;
    border-radius:50px 50px 50px 50px;
    font-weight:bold;
    background-color: #F2F2F2;
    padding: 10px 10px 10px 0px;
}
/* info réseultat recherche */
.i
{
    color: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    float: none;
    vertical-align: none;
}





/* body */
.logement
{
    flex-direction: row-reverse;
    justify-content: space-between;
}
/*étoile*/
.fa-star
{
    width: 5px;
    height: 5px;
    margin: 5px;
    align-self: flex-end;
}
.rempli
{
    color: #0065FC;
}

/*les plus populaires*/
.les_plus_populaire
    {
        border:solid 4px #F2F2F2;
        border-radius:15px 15px 15px 15px;
        background-color: #F2F2F2;
        width: 340px;
        margin: 5px;
        padding: 10px;
    }
.stat
{
    color: black;
}
.art_populaire
{
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #B9B9B3;
    width: 275px;
    height: 150px;
    margin: 5px;
}
.imgp
{
    width: 33%;
    height: 140px;
    margin: 5px;
    border-radius: 15px 0px 0px 15px;
    float: left;
    object-fit: cover;
    object-position: center;
}
/*hébergement a marseille*/
.Hebergement_a_marseille
{
    border:solid 4px #F2F2F2;
    border-radius:15px 15px 15px 15px;
    background-color: #F2F2F2;
    width: 885px;
    margin: 5px;
    padding: 10px;
}
.art_hebergement
{
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #B9B9B3;
    width: 275px;
    height: 200px;
    margin: 5px;
}
.imgh
{
    width: 265px;
    height: 50%;
    margin: 5px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.plus
{
    padding: 10px;
    font-weight: bold;
}
/*activités a marseille*/
.art_activite
{
    width: 300px;
    box-shadow: 1px 1px 10px #F2F2F2;
    border-radius: 15px;
    margin: 10px;
}

.art12
{
    margin-top: 30px;
}

.art15
{
    margin-top: 30px;
}

.imga10
{
    width: 100%;
    height: 315px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga11
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga12
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga13
{
    width: 100%;
    height: 315px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga14
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imga15
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}




/* footer */
footer
    {
        border:solid 2px #F2F2F2;
        border-radius:0;
        background-color: #F2F2F2;
        padding: 30px;
        margin-top: 30px;
    }

footer div
{
    margin-right: 160px;
}
.puce
{
    padding: 5px;
}
}