/* Global */
    * 
    {
        -moz-box-sizing    : border-box;        /* Firefox */
        -webkit-box-sizing : border-box;        /* Safari */
        box-sizing         : border-box;        /* evite le dépacement */
    }  

    html 
    {   
        font-family : 'Raleway', sans-serif ;       /* police écriture site */
    }

    .contenaire
    {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 30px;
        margin-right: 30px;
    }

    body
    {
        margin: 0px;        /* annulation marge extérieur automatique*/
    }

    .flex
    {
        display: -webkit-box;       /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        /* garantie la mise en page flex sur tout les navigateur */
    }

    .space-between
    {
        justify-content: space-between;     /* l'espace entre les élèments et égal*/
    }

    a
    {
        text-decoration: none;      /* Annulation des décoration de lien */
        color: black;             /* Couleur des lien */
    }

    img 
    { 
        max-width: 100%;        /* Taille maximum de l'image */
    }

    .bold, h1, h2, h3, strong
    {
    font-weight: bold;      /* mise en gras de l'inscription */
    }

    h3
    {
        margin: 0px;
    }

    div p
    {
        margin: 0px;
    }

    div i
    {
        margin: 0px;
    }

    .padding
    {
        padding: 15px;
        justify-content: center;
    }


/* Liste */
    ul
    {
        padding:0px ;       /*marge intérieur des listes */
    }

    li
    {
        list-style-type: none;      /* suppression des puces des listes */
    }


/* Image */
    .logo
    {
        width:35%;
        height:auto;      
    }

    article
    {
        margin: 15px;
        border-radius:15px 15px 15px 15px;
        background-color: #ffffff;
        box-shadow: 1px 1px 10px #b9b9b3;
    }


    .art_hebergement, .art_populaire
    {
        margin: 10px 10px 10px 10px;
        padding: 6px;
        border-radius:15px 15px 15px 15px;
        background-color: #ffffff;
    }

    .art_hebergement
    {
        flex: 1;
    }   

    .imgh       /*image hébergelent à marseille */
    {
        object-fit: cover;          /* ajustement image */
        object-position: center;
        height: 150px;
        width: 200%;
        border-radius:15px 15px 0px 0px;
    }

    .imgp       /* image les plus populaire */
    {
        object-fit: cover;
        object-position: center;
        height: 175px;
        width: 45%;
        float: left;
        border-radius:15px 0px 0px 15px;
    }

    img[class*="imga"]
    {
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0px 0px;
        width: 200%;
        margin: 0;
        padding: 0;
    }

    .imga10, .imga13        /* image vieux port et parc national des calanques */
    {
        height: 385px;
    }

    .imga11                 /* image fort de pomègues */
    {
        height: 170px;
    }

    .imga12                 /* image iles de frioul */
    {
        height: 150px;
    }

    .imga14, .imga15        /* image notre dame de la garde et parc longchamp */
    {
        height: 160px;
    }
    

/* icone */
    .lieu
    {
        border:solid 1px #F2F2F2;
        border-radius:10px 0px 0px 10px;
        background-color: #F2F2F2;
        color: black;
        padding: 15px 10px 15px 10px;
        margin: 0px;
    }

    .filtre
    {
        color: #0065FC;
        border:solid 2px #DEEBFF;
        border-radius:50px 50px 50px 50px;
        background-color: #DEEBFF;
        margin: 0px 0px 0px 0px;
        padding: 11px 11px 11px 11px;
    }

    .i
    {
        border:solid 1px #F2F2F2;
        background-color: #ffffff;
        margin: 10px 10px 10px 10px;
        padding: 10px 15px 10px 15px;
        border-radius:50px 50px 50px 50px;
        color: #0065FC;
    }

    .rempli
    {
        color: #0065FC;
        background-color: #ffffff;
        border: 0px;
        width: 5px;
        height: 5px;
        margin: 4%;
    }

    .vide
    {
        color: #F2F2F2;
        background-color: #ffffff;
        border: 0px;
        width: 5px;
        height: 5px;
        margin: 4%;
    }

    .stat
    {
        color: black;
        background-color: #F2F2F2;
        border: 0px;
    }


/* En-tête de la maquette */
    .espace
    {
        padding: 15px;      /* marge intérieur menu */
    }

    nav ul a 
    {
        color: black;             /* couleur du menu */
    }
    
    nav ul a:hover
    {
        box-shadow: 0px 2px #0065FC inset;      /* ombre de bordure du menu au survol */
        color: #0065FC;                         /* couleur du menu au survol */
    }

    #inscription
    {
        color: #0065FC;       /* couleur de l'inscrption */
    }


    /* Barre de recherche */
        input /* barre d'écriture*/
    {
        border:solid 2px #F2F2F2;
        border-radius:0px 0px 0px 0px;
        margin: 0px -5px 0px -5px;
        padding: 15px 10px 15px 10px;
    }

    button /* bouton de recherche */
    {
        border:solid 1px #0065FC;
        border-radius:0px 10px 10px 0px;
        background-color: #0065FC;
        color : #F2F2F2;
        padding: 15px 10px 15px 10px;
        cursor: pointer;
        margin: 0px;
    }

    H1
    {
    margin-top: 19px;
    margin-bottom: 5px;
    }

    H1+p
    {
        margin-top: 5px;
    }

    /* Filtres */
    input[type="checkbox"]
    {
        opacity: 0;
    }

    label /* nom filtre */
    {
        border:solid 3px #F2F2F2;
        max-width: 10px;
        max-height: 10px;
        border-radius:50px 50px 50px 50px;
        font-weight:bold;
        padding: 10px 10px 10px 0px;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
    }

    label:hover /* nom filtre au survol */
    {
        border:solid 3px #F2F2F2;
        border-radius:50px 50px 50px 50px;
        font-weight:bold;
        background-color: #F2F2F2;
        padding: 10px 10px 10px 0px;
    }


    /* Information recherche */
     








    

    .Hebergement_a_marseille
    {
        border:solid 4px #F2F2F2;
        border-radius:15px 15px 15px 15px;
        background-color: #F2F2F2;
        width: 66%;
        margin: 15px 2% 15px 5px;
        padding: 10px;
    }
    .les_plus_populaire
    {
        border:solid 4px #F2F2F2;
        border-radius:15px 15px 15px 15px;
        background-color: #F2F2F2;
        width: 30%;
        margin: 15px 5px 15px 5px;
        padding: 10px;
    }
    .info_chambre
    {
        width: 200px;
        margin: 0px 5px 5px 5px;
        padding: 1px 1px 1px 1px;
    }

    .en-tête
    {
        color: black;
        background-color: #F2F2F2;
    }

    .chambre
    {
        flex-wrap: wrap;
    }    
    


/* Pied de page */
    footer
    {
        border:solid 2px #F2F2F2;
        border-radius:0px 0px 0px 0px;
        background-color: #F2F2F2;
        padding: 20px;

    }

    footer div
    {
        margin-right: 15%;
    }

    footer div a
    {
        color: black;
    }

    